<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Event1</key>
	<array>
		<string>Wednesday - 07.06.16</string>
		<string>Erdem Kinay</string>
		<string>11.00pm</string>
		<string>$15</string>
		<string>erdemKinay.png</string>
		<string>&quot;I Don&apos;t Give Up&quot; is a song by Turkish artist Erdem Kinay, taken from his forthcoming fourth studio album. The song is the first official single to receive only a digital release and 23th[clarification needed] to have a music video. The song was written and produced by the singer Mustafa Cecil and was released by the platform DMC (Doğan Müzik Yapım). The song reached the 3rd position on Türkçe Top 20, and on Türkçe Pop charted at no.1 and also on the music digital sales on Turkey. Erdem Kinay performed the song live for the first time at the Turkish Music Awards. The digital single featured the album version and one remix, both produced by the singer Mustafa Ceceli, and the music video was directed by Nihat Odabaşı.</string>
	</array>
	<key>Event2</key>
	<array>
		<string>Thursday - 07.07.16</string>
		<string>Ozan Colakoglu</string>
		<string>11.30pm</string>
		<string>$10</string>
		<string>ozanColakoglu.png</string>
		<string>Turkish composer, songwriter and music producer; famous for his work with pop idol Tarkan and his various film scores. He co-founded the production company Sarı Ev (Yellow House), but left it in 2010 to work for dB Müzik. Ozan Çolakoğlu is also credited for co-writing several of Tarkan&apos;s songs, including the second (European) version of Şımarık.
Apart from Tarkan, he worked for Nilüfer (albums Karar Verdim and Hayal, single Zalimin Kararı), Bendeniz, Deniz Seki, Nil Karaibrahimgil, Ümit Sayın, Pınar Aylin, Gökçe, Yaşar, Çelik Erişçi, Özgün, Kızlar, Tan Taşçi (song İşaret), Sibel Can (song Çantada Keklik), Gülşen (complete album Önsöz). His works include the scores of such popular movies like G.O.R.A., Sınav or Organize İşler.</string>
	</array>
	<key>Event3</key>
	<array>
		<string>Friday - 07.08.16</string>
		<string>Iskender Paydas</string>
		<string>12.00am</string>
		<string>$20</string>
		<string>iskenderPaydas.png</string>
		<string>On the Turkish Music Awards he performed for the first time his new single called &quot;Vazgeçmem&quot; from his forthcoming album. After a few hours he launched the new format from his website, and also released the music video on music channels and on YouTube. The &quot;Vazgeçmem&quot; video was directed by Nihat Odabaşı. On April 13, &quot;Vazgeçmem&quot; was released only on a Digital Single on iTunes and other digital music websites for sale. The song reached on the Top 5 peaking at 3 on the Turkish Airplay on radio and first at Turkish Digital Sales. And still yet, he took place at the campaign for the protection of the North Pole, backed by &quot;Greenpeace&quot;. Finally, Yedigün released two more new adverts campaign featuring Paydas, and sponsoring his new tour.</string>
	</array>
	<key>Event4</key>
	<array>
		<string>Saturday - 07.09.16</string>
		<string>Ozan Dogulu</string>
		<string>12.00am</string>
		<string>$20</string>
		<string>ozanDogulu.png</string>
		<string>His first album, Yaparım Bilirsin was released in August 1993. 93 concerts held that year was a considerable achievement in Turkey. His second album Sımsıkı Sıkı Sıkı was released in December 1994 and achieved an unbelievable success with 175 live performances of the singer that year. The album Ozan Dogulu 3 which was launched in the music shops in August 1996 achieved great appreciation of his fans. Keeping silent for two years, he fulfilled the expectations of his fans with his album Ex Aşkım which became a hit in 2001.In 2002, Kenan Doğulu 5.5, the unplugged version of Ex Aşkım was released and it reached mass audiences gaining as much appreciation as Ex Aşkım. He addressed his fans again in 2003 with a brand new album Demedi Deme. In the summer of 2006, Doğulu released the album Festival, containing the hit single Çakkıdı,[4] in collaboration with Sezen Aksu.</string>
	</array>
	<key>Event5</key>
	<array>
		<string>Sunday - 07.10.16</string>
		<string>Emrah Goktas</string>
		<string>11.00pm</string>
		<string>$10</string>
		<string>emrahGoktas.png</string>
		<string>His debut album Ellerine Sağlık, produced by Selim Öztürk, was released. The song &quot;Zalim&quot; became one of the major summer hits of 2004. Unlike most Turkish pop singers, Emrah&apos;s personality was very humble and down to Earth[citation needed]. This gained him a lot of respect and recognition[citation needed]. Within the first week, the sales of his album reached 200,000 copies. By the end of the first month, the sales reached 300,000. The total sales reached 500,000 copies at the end of four months which made Yalın&apos;s debut one of highest selling records in 2004</string>
	</array>
</dict>
</plist>
